<h2>Output format settings</h2>
{{#outputOptionsConfigures}}
<p class="configure">
  <label for="{{name}}" class="prefix">{{displayName}} :</label>
  <input name="{{name}}" id="{{name}}" value="{{value}}">
</p>
{{/outputOptionsConfigures}}

